@font-face {
  font-family: 'Moret';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/Moret-Book.otf') format('opentype');
}

@font-face {
  font-family: 'Moret';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/Moret-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Moret';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'Moret';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Moret';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/Extrabold.otf') format('opentype');
}

@font-face {
  font-family: 'Europa';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/Europa-Regular.ttf') format('ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply w-screen overflow-x-hidden  bg-pallet font-moret text-lg font-normal leading-relaxed text-primary;
  }

  h1 {
    font-size: calc(27.46939px + 4.40816vw);
    line-height: 1.05em;
  }
  h2 {
    @apply leading-normal;
    font-size: calc(22.87755px + 1.63265vw);
    line-height: 1.13em;
  }

  h3 {
    @apply font-light leading-7;
    font-size: calc(22.77551px + 0.32653vw);
  }

  h5 {
    @apply font-moret font-light leading-[1.08em];
    font-size: calc(22.77551px + 0.32653vw);
  }

  p {
    @apply font-europa;
    font-size: calc(14.93878px + 0.81633vw);
  }

  ul li {
    @apply font-europa;
  }

  span {
    @apply font-europa font-semibold;
    font-size: calc(15.38776px + 0.16327vw);
  }

  span svg {
    right: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 2px);
  }

  input {
    @apply accent-teal;
  }

  input:not([type='checkbox']) {
    @apply w-full;
  }
}

@layer components {
  .hamburger-line {
    @apply w-5 bg-white;
    height: 2px;
    border-radius: 2px;
  }

  .padding-page {
    @apply px-5;
  }
  .padding-page-lg {
    @apply px-10;
  }

  .title {
    @apply font-light leading-tight !important;
    font-size: calc(36.93878px + 0.81633vw);
  }

  .svg-border-1 {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201223%2011%22%3E%3Cg%20transform%3D%22translate%280.003%200.493%29%22%3E%3Cpath%20class%3D%22a%22%20style%3D%22fill%3Anone%3Bstroke%3A%23000%3Bstroke-miterlimit%3A10%3Bstroke-width%3A2.8px%22%20d%3D%22M1222.053%2C7.307S967.872%2C6%2C749.566%2C8.258%2C393.1%2C11.248%2C249.6%2C6.007%2C0%2C0%2C0%2C0%22%20transform%3D%22translate%281222.053%209.976%29%20rotate%28180%29%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-position: 50%;
    background-size: cover;
    height: 0;
    padding-bottom: 0.98119%;
  }

  .text-underline svg {
    height: 10.8px;
    left: calc(0);
    top: calc(100% + -5px);
  }

  .hero-media {
    clip-path: polygon(
      0px 100%,
      0px 8%,
      13.34% 6.91%,
      27.99% 6.5%,
      44.5% 6.16%,
      59.72% 5.35%,
      73.9% 4.55%,
      87.46% 2.9%,
      100% 0px,
      100% 100%,
      80.99% 97.84%,
      64.23% 97.83%,
      31.73% 99.66%
    );
  }

  .category-title {
    @apply mb-[15px] font-moret;
    font-size: calc(18.16327px + 0.4898vw);
  }

  .item-card {
    @apply overflow-hidden rounded-xl py-5;
  }

  .block-item {
    @apply flex flex-col items-center py-10 px-8 text-center;
    border-bottom: 1px solid theme('colors.gray.DEFAULT');
  }

  .block-title {
    @apply font-europa font-light leading-relaxed;
    font-size: calc(14.77551px + 0.32653vw);
  }

  .instargram-wrapper {
    @apply mt-8 border-y-[1px] border-[#c6c6c6] pt-8 pb-[46px] text-center;
  }

  .bg-wrapper {
    @apply h-[112px]  bg-secondary;
    clip-path: url(#mask-footer-mobile);
  }

  .newsletter-footer {
    @apply mt-[60px] flex flex-col items-center justify-center text-center;
  }

  input[type='email'] {
    @apply mb-4 h-[60px] rounded-full border-[1px] border-[#1a1a1a] bg-transparent px-7 py-[18px] indent-0 text-[15px] text-primary shadow-none outline-none;
  }
  input[type='checkbox'] {
    @apply h-[22px] w-[22px];
  }

  .text-animate {
    @apply relative inline-block font-moret font-normal;
    font-size: calc(22.87755px + 1.63265vw);
  }

  /* ------FOOTER */
  .footer-desc {
    @apply text-sm font-extralight;
  }

  .logo-footer {
    @apply flex justify-center bg-[#ddc7b0] pt-[100px] pb-[30px];
  }

  .bottom-footer {
    @apply bg-[#ddc7b0];
  }
}

@keyframes drawpath {
  0% {
    stroke-dashoffset: 1;
  }
  100% {
    stroke-dashoffset: 0.01;
  }
}

@keyframes marquee {
  0% {
    transform: translate3d(calc(100%), 0, 0);
  }

  100% {
    transform: translate3d(calc(-100%), 0, 0);
  }
}

.data-item {
  border: 1px solid #1d1d1b;
  border-radius: 35px;
  color: theme('colors.primary');
  cursor: pointer;
  display: block;
  font-weight: 400;
  line-height: 1.1;
  opacity: 0.4;
  padding: 15px;
  margin-bottom: 20px;
  vertical-align: middle;
}

/*======================= PRODUCT ITEM ==========================*/
.product-title {
  font-size: calc(16.55102px + 0.65306vw);
  font-family: theme('fontFamily.moret');
  font-weight: 500;
  line-height: 1.25;
}

.product-tag {
  @apply absolute top-[15px] z-10 rounded-full bg-pink-light py-[15px] px-[14px] text-[10px] text-white;
  position: absolute;
  top: 15px;
  z-index: 10;
  border-radius: 100%;
  background: theme('colors.pink.light');
  padding: 15px 14px 15px 14px;
  font-size: 10px;
  color: #fff;
}

.product-tags {
  font-size: calc(11.38776px + 0.16327vw);
  font-family: theme('fontFamily.europa');
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-description {
  font-size: calc(11.38776px + 0.16327vw);
  font-family: theme('fontFamily.europa');
  font-weight: 500;
  flex: 1;
}
.product-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.product-review {
  margin-left: 32px;
  color: theme('colors.gray.DEFAULT');
}
.product-rating {
  font-weight: 500;
}

/* -----------------section-diagnosis--------------------- */
.section-diagnosis {
  clip-path: polygon(
    0px 0px,
    5.11% 2.22%,
    10.64% 4.19%,
    16.79% 5.21%,
    25.4% 5.87%,
    46.37% 4.97%,
    57.03% 5.34%,
    66.57% 6.6%,
    74.74% 8.91%,
    83.91% 10.72%,
    90.64% 12%,
    100% 13%,
    100% 96%,
    89.83% 95.12%,
    77.54% 93.88%,
    71.15% 93.75%,
    65.84% 93.69%,
    59.75% 93.91%,
    52.23% 94.52%,
    43.71% 95.58%,
    36.67% 96%,
    27.72% 95.49%,
    18.38% 94.58%,
    0px 92%
  );
}

/* swiper */
.swiper {
  height: 800px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px !important;
}
.thumbnail-title {
  font-size: 20px;
}

/* footer */

.block-contact-title {
  @apply relative w-fit cursor-pointer font-moret text-[18px] font-normal;
}

.block-contact-title::after {
  @apply absolute -right-4 top-[calc(50%-3.5px)] block h-1.5 w-1.5 origin-center -rotate-45 border-l-[1px] border-b-[1px] border-primary duration-200 content-empty;
}
.block-contact-desc {
  @apply h-0 overflow-hidden duration-500;
}
.block-contact-desc p {
  @apply overflow-hidden py-1 font-europa text-sm;
}

.footer-items {
  @apply mx-auto flex w-full flex-col divide-y-[1px] divide-[rgba(29,29,27,.15)]  text-center;
}

.footer-active:after {
  @apply translate-y-[3px] rotate-[135deg];
}

.li-item {
  @apply py-[16px];
}
